@font-face{
	font-family:"raleway-bold";
	src : url("raleway/static/raleway-bold.ttf");
}

@font-face{
	font-family:"raleway-extrabold";
	src : url("raleway/static/raleway-extrabold.ttf");
}

@font-face{
	font-family:"raleway-regular";
	src : url("raleway/static/raleway-regular.ttf");
}

@font-face{
	font-family:"raleway-medium";
	src : url("raleway/static/raleway-medium.ttf");
}


body{
	font-family: raleway-regular;
	width: 1440px;
	margin: auto;
}


h1{
	margin-top: 10px;
	margin-bottom: ;
	font-size: 22px;
	font-family: "raleway-extrabold";
}


h2{
	font-family: "raleway-bold";
}

h3{
	font-family: raleway-bold;
	margin: 5px;
	margin-left: 0px;
}

figcaption{
	margin-left: 10px;
}


/* En-tête */

header{
	margin-left: 50px;
	margin-right: 50px;
	display : flex;
	justify-content: space-between;
	height: 100px;
}

header a{
	text-decoration: none;
	color: black;
}


nav ul{
	margin-top: 0px;
	display : flex;
	list-style-type: none;
}

nav li{
	width: 150px;
	text-align: center;
	padding-top: 30px;
	color: black;
}

.ancreHebergements{
	color: #408bfd;
	margin-bottom: -2px;
}

.ligneHebergements{
	border-top: 2px solid #408bfd;
}

#inscription{
	color: #408bfd;
	font-weight: bold;
}

/* Slogan */
#slogan{
	margin-left: 50px;
	margin-right: 50px;
}

/* champ de recherche*/

#rechercher{
	margin-left: 50px;
	margin-right: 50px;
}

.recherche{
	margin-left: 50px;
	margin-right: 50px;
	display :flex;
	padding-left : none;
	height:40px;
	margin-bottom: 20px;
}

.recherche input{
	border: none;
	padding-left: 10px;
}

#marseille{
	font-family: "raleway-extrabold";
	border: 1px solid #F2F2F2;
}

#champ{
	background-color: #0065FC;
	color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.fa-map-marker-alt{
	color: black;
	background-color: #F2F2F2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.fa-search:before{
	display: none;
}


/* partie filtres */

#filtres{
	margin-left: 50px;
	margin-right: 50px;
	display: flex;
	justify-content: space-start;
	font-style: "raleway-bold";
}

#filtres ul{
	display : flex;
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
}

#filtres li{
	font-family: raleway-bold;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
	padding-right: 20px;
	height: 35px;
	margin-left: 20px;
	display: flex;
	align-items: center;
}


.pucesFiltres:hover{
	background-color: grey;
	cursor: pointer;
}


#filtres .filtres{
	font-weight: bold;
	padding-left: 10px;
}

#filtres h2{
	margin: auto;
	margin-left: 0px;
	margin-right: 0px;
}

#filtres i{
	border-radius: 30px;
	color: #0065FC;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #DEEBFF;
	margin-top: -1px;
	margin-bottom: -1px;
	margin-left: -1px;
}

#filtres a{
	text-decoration: none;
	color: black;
}

.fa-info{
	font-size: 12px;
	color: #0065FC;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 7px;
	padding-right: 7px;
	border: 1px #d9d9d9 solid;
	border-radius: 10px;
	margin-right: 10px; 
}

.plusde{
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 50px;
	margin-right: 50px;
}


/* Liste normale et populaires */

#normalEtPopulaires{
	margin-left: 50px;
	margin-right: 50px;
	display: flex;
	justify-content: space-between;
}

#normalEtPopulaires a{
	text-decoration: none;
	color: black;
}

/* Partie "hebergements à Marseille" */

#listeHotels{
	background-color: #F2F2F2;
	border-radius: 20px 20px 20px 20px;
	width: 880px;
	height: 620px;
}

#listeHotels h1{
	margin-top: 40px;
	margin-left: 40px;
}

.boitesHebergements{
	display: flex;
	flex-wrap: wrap;
	margin-left: 40px;
}

.figureHebergements{
	width: 235px;
	height: 200px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: white;
	border-radius: 20px;
	overflow: hidden;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.figureHebergements img{
	width: 235px;
	height: 115px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin-top: 5px;
}

.figureHergements figcaption{
	font-style: "raleway-regular"
}

.PlusDeResultats{
	font-family: "raleway-bold";
	margin: auto;
	margin-left: 40px;
}

.pCaption{
	margin-top: 5px;
	margin-bottom: 0px;
}

/* partie "les plus populaires" */

#populaires{
	background-color: #F2F2F2;
	border-radius: 20px 20px 20px 20px;
	width: 420px;
	height: 620px;
}

#entetePop{
	display: flex;
	justify-content: space-between;
	margin-left: 40px;
	margin-top: 40px;
	margin-right: 40px;
}

#entetePop h1{
	margin-top: 0px;
	margin-bottom: 20px;
}

.fa-chart-line{
	font-size: 25px;
}

#boitesPop{
	margin-left: 40px;
}

#boitesPop p{
	margin-bottom: 0px;
	margin-top: 0px;
}

.figurePop{
	display: flex;
	width: 335px;
	height: 140px;
	border-radius: 20px;
	background-color: white;
	padding-left: 5px;
	padding-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-top: 0px;
}


.imagePop{
	width: 125px;
	height: 135px;
	overflow: hidden;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	margin-right: 10px;
	flex-shrink: 0;
}

.captionPop{
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Les activités */

#activites{
	margin-left: 50px;
	margin-right: 50px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 40px;
}

#activites a{
	text-decoration: none;
	color: black;
}

#activites h1{
	margin: 0px;
	margin-bottom: 10px;
}

#conteneur{
	display: flex;
	flex-wrap: wrap;
	height: 445px;
	justify-content: space-between;
}

.colonne2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.colonne4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.figureActivites{
	margin: 0px;
}

.element1{
	width: 300px;
	height: 445px;
	border-radius: 20px;
	border: 1px solid #F2F2F2;
	box-shadow: 5px 5px 5px #F2F2F2;
}

.element2{
	width: 300px;
	height: 235px;
	border-radius: 20px;
	border: 1px solid #F2F2F2;
	box-shadow: 5px 5px 5px #F2F2F2;
}

.element3{
	width: 300px;
	height: 160px;
	border-radius: 20px;
	border: 1px solid #F2F2F2;
	box-shadow: 5px 5px 5px #F2F2F2;
}

.element4{
	width: 300px;
	height: 210px;
	border-radius: 20px;
	border: 1px solid #F2F2F2;
	box-shadow: 5px 5px 5px #F2F2F2;
}


.imageActivites1{
	width: 300px;
	height: 390px;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.imageActivites2{
	width: 300px;
	height: 180px;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.imageActivites3{
	width: 300px;
	height: 105px;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.imageActivites4{
	width: 300px;
	height: 155px;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#conteneur figcaption{
	font-family: raleway-bold;
	margin-top: 15px;
	margin-left: 20px;
}


/* Pied de page */

footer{
	display: flex;
	justify-content: flex-start;
	background-color: #F2F2F2;
	padding-top: 20px;	
	padding-left: 50px;
	padding-bottom: 20px;
	margin-top: 50px;
}

footer h2{
	font-family: raleway-bold;
	font-size: 18px;
}

footer a{
	text-decoration: none;
	color: black;
}

footer li{
	list-style-type: none;
	margin-left: 0px;
	margin-bottom: 10px;
}

footer ul{
	font-family: "raleway-medium";
	padding-left: 0px;
}

.infoPied{
	width: 33%;
}

.fa-star{
	font-size: 13px;
	color: #0065FC;
}

.fas.vide{
	color: #D9D9D9;
}


/* Responsive design */

@media screen and (max-width: 700px){

	body{
		margin: 0px;
		width: 375px;
	}

	header{
		display: inherit;
		margin-left: 20px;
		margin-right: 20px;
		height: 130px;
	}

	header ul{
		padding-left: 0px;
	}

	nav li{
		padding-top: 10px;
		width: 167.5px;
	}

	.ligneActivites{
		border-bottom: 2px solid #d9d9d9;
	}

	.ligneHebergements{
		border-top: inherit;
		border-bottom: 2px solid #408bfd;
		padding-bottom: 10px;
	}

	.logoReservia{
		height: 65px;
	}

	#inscription{
		position: absolute;
		right: 0px;
		top: 0px;
	}

	#slogan{
		margin-left: 20px;
		margin-right: 20px;
	}

	#champ{
		display: none;
	}

	.fa-search:before{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #0065FC;
		color: white;
		border-radius: 10px;
		height: 40px;
		width: 40px;	
		margin-left: -10px;	
	}

	#filtres{
		margin-left: 20px;
		margin-right: 20px;
		flex-direction: column;
	}

	.recherche{
		margin-left: 20px;
	}

	#filtres ul{
		margin-top: 10px;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-left: 0px;
	}

	#filtres li{
		margin-bottom: 20px;
		margin-left: 0px;
	}

	.plusde{
		margin-top: 20px;
		margin-bottom: 30px;
		margin-right: 20px;
		margin-left: 20px;
	}

	#normalEtPopulaires{
		flex-direction: column-reverse;
		justify-content: space-between;
		margin-left: 20px;
		margin-right: 20px;
	}

	#populaires{
		border-radius: inherit;
		width: 375px;
		height: inherit;
		padding-bottom: 20px;
	}

	#entetePop{
		margin-left: 20px;
		margin-right: 20px;
	}

	#boitesPop{
		margin-left: 20px;
	}

	.figurerPop{
		margin-bottom: 10px;
	}

	#listeHotels{
		width: 335px;
		display: flex;
		flex-direction: column;
		height: inherit;
		background-color: inherit;
	}

	#listeHotels h1{
		margin-left: 20px;
	}

	.boitesHebergements{
		margin-left: 20px;
	}

	#activites{
		margin-left: 20px;
		margin-right: 20px;
	}

	#activites h1{
		margin-bottom: 20px;
	}

	#conteneur{
		flex-wrap: inherit;
		flex-direction: column;
		height: inherit;
	}

	.element1{
		margin-bottom: 20px;
	}

	.element2{
		margin-bottom: 20px;
	}

	.element3{
		margin-bottom: 20px;
	}

	.element4{
		margin-bottom: 20px;
	}


	footer{
		flex-direction: column;
	}

	.infoPied{
		width: inherit;
		margin-bottom: 20px;
	}

	.infoPied ul{
		margin-bottom: 0px;
	}
}